* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
  
}

.info_wrapper{
  padding-left: 64px;
  padding-right: 64px;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  background-color: rgb(19, 18, 26);
  max-height: calc(100vh - 70px);
  min-height: calc(100vh - 70px);
  overflow-y: scroll;
}

.info_header{
  color: rgb(242, 241, 247);
  font-weight: bold;
  font-size: 2em;
  margin-right: 2em
}

.info_heading{
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.meetup_desc{
  color:rgb(160, 155, 182)
}

.edit_info_btn{
  color: rgb(45, 42, 65);
  background-color: rgb(175, 173, 190);
  font-size: 1.4em;
  text-align: left;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  padding: 3px;
  padding-bottom: 2px;
}

.edit_info_btn:focus:active{
  outline: none !important;
  box-shadow: none;
  text-decoration: none;
}

.edit_info_btn:hover{
  transition: all 0.3s ease 0s;
  color: rgb(102, 92, 141);
  text-decoration: none;
}

.info_description{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.desc_copy_stuff{
  display: flex;
}

.desc_date{
  margin-top: 1.3em;
  color: #7ed5fd;
}

.desc_desc{
  color: #fff;
  margin-top: 1.2em;
  font-size: 1.5em;
}

.desc_name{
  margin-top: 0.5em;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.color {
  color: white;
  font-family: "Fredoka One", cursive;
}
.change {
  border-radius: 20px;
}

.size {
  width: 100%;
  /* height: 610px; */
}

.btn1 {
  position: absolute;
  top: 75%;
  left: 42%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btn2 {
  position: absolute;
  top: 75%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bottom_heading {
  color: rgb(188, 186, 196);
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1.3em;
}

.new-size-logo {
  height: 40px;
  width: 110px;
}
.new-size-back {
  height: 300px;
  width: 400px;
}
.my-font {
  font-family: "Langar", cursive;
  background-color: black;
  color: #fff;
}
.sidenavbarbc{
  font-family: "Langar",
  cursive;
  background-color:blue;
  color: #fff;

}


.division{
  margin-top: 100px;
  margin-left: 200px;
  padding: 0px 10px;
}

.button {
  display: inline-block;
  background:#555365;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 10px;
  border-radius: 35px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.text-area{

   rows:12;

}
.button1{
  display: inline-block;
  background: #1b4ef5;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 10px;
  border-radius: 35px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: point5;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button2{
  display: inline-block;
  background: #0a1;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 7px;
  border-radius: 13px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button:hover {
  color: rgb(153, 172, 189);
  text-decoration:none;
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}
.button1:hover {
  color: aliceblue;
  text-decoration:none;
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}
.button2:hover {
  color: aliceblue;
  text-decoration:none;
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}
.button3 {
  display: inline-block;
  background: #ffc34c;
  color: rgb(14, 13, 13);
  padding: 4px 73px;
  margin: 12px;
  border-radius: 20px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: point5;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.second_page_bc {
  background-color: black;
}
.hrnew1 {
  border-top: 5px solid rgba(17, 15, 16, 0.589);
}
.upload_size
{
  width: 250px;
  height: 300px;
}
.sidebar-color{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.bc{
  background-color: black;
}
.fixed{
  position: fixed;
}

