* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    }

.special-margin {
    margin-top: 901px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 10;
    border-top: 1px solid wheat;
}
.mike_pic{
  height: 600px;
  width: 800px;
}
.schedule-card{
 display: inline-block;
 border: 1px solid rgb(106, 76, 255);
 border-radius: 8px;
 margin-right: 15px;
 margin-bottom: 15px;
     padding: 12px 20px;
 background: rgb(106, 76, 255);
 transition: all 0.5s ease 0s;
 color: rgb(255, 255, 255);
 cursor: pointer;
}

.whiteColor{
     
     color: honeydew;
     font-size: 16px;
     line-height: 24px;
     font-family: CircularXXWeb-Bold;
     overflow-wrap: break-word;
}
.headingColor{
   color: rgb(117, 112, 137);
}